<nav class="navbar navbar-inverse">
    <a href="/" class="navbar-brand">my site</a>
    <div class="container-fluid">
    <div class="navbar-header">
    <a href="/" class="navbar-brand">
        
    <span class="glyphicon glyphicon-picture"></span>

    My Instagram Photos

    <a href="/" class="navbar-brand">Home</a>
    <a href="/about" class="navbar-brand">About</a>
    <a href="/contact" class="navbar-brand">Contact</a>
    </a>
    </div>
    </div>

</nav>